* {
    margin:0; padding:0;
  }

body {
    background-color: #F0F0F0
}

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

header {
    width: 100%;
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    background-color: #39C1DB;
}

header .headline {
    font-size: 32px;
}
